### Laravel ###
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
### config/constants.php ###

### Node ###
/node_modules
*.log
npm-debug.log*
config/constants.php
/nbproject/private/